*{
    padding: 0;
    margin: 0;
    @font-face {
        font-family: "brandon-grotesque", "relation", sans-serif;
        src: url("https://use.typekit.net/jnl1bzm.css");
    }
}

/* Tekst og farver */ 
body{
    font-family: "brandon-grotesque", "relation", sans-serif;
    font-weight: light;
    color: #6B5E55;
    background-color: #FFFEFB;
    font-size: 14px;
}

.special-tekst{
    font-family: "relation", sans-serif;
}

.footer-overskrift{
    font-weight: bold;
}






                    /* STYLING AF INDEX-SIDEN */
/* Header - navigationsmenu og logo */  
.bg-body-tertiary{
    background-color: #EBE5DA !important;
    height: 120px;
    font-weight: bold;
    color: #6B5E55 !important;
}

.dropdown-menu{
    background-color: #EBE5DA;
    color: #6B5E55;
    font-size: 14px;
    border: none;
}

.navbar-collapse{
    background-color: #EBE5DA;
}

.dropdown-item:hover, .nav-link:hover{
    background-color: #FFFEFB;
    color: #6B5E55;
}

.besog{
    border-bottom: 2px solid #6B5E55;
}

.logo{
    height: 120px;
}

.spacing{
    display: flex;
    justify-content: space-between;
}

/* Overskrift på materiale anbefalingerne */ 
.overskrift{
    height: 35px;
    width: 350px;
    background-color: #EBE5DA;
}

/* Billeder og tekst fra materialeforslagene på forsiden + billedet fra indledende tekst */ 
.forslag{
    padding-bottom: 150px;
}

.forslag-tekst{
    margin-top: 80px;
}

.intro-billede{
    width: 300px;
    height: auto;
}

.intro-billede-centering{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Overskrifterne på alle sider */ 
h1, h2{
    text-align: center;
}

.title{
    padding-top: 50px;
    padding-bottom: 70px;
}


        /* Nyhedsbrev */ 
.nyhedsbrev{
    background-color: #EBE5DA;
    padding: 20px 15px;
    margin-bottom: 100px;
    margin-top: 150px;
    text-align: center;
}

  
input[type=text], input[type=submit] {
    padding: 12px;
    margin: 8px 0;
    width: 100%;
    display: inline-block;
    border: 1px solid #6B5E55;;
    box-sizing: border-box;
    color: #6B5E55;
    background-color: #F8F7F1;
}

  
input[type=submit] {
    color: #6B5E55;
    border: none;
    text-align: center;
}
  
input[type=submit]:hover {
    opacity: 0.8;
    background-color: #FFFEFB;
}

#nyhedsbrev-navn, #nyhedsbrev-email, #nyhedsbrev-knap{
    width: 60%;
}

/* SEO tekst */ 
.seo{
    margin-bottom: 100px;
}

.seo-overskrift{
    font-weight: bold;
}

/* footer */ 
.footer-brede{
    background-color: #EBE5DA;
    color: #6B5E55;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}

.footer-overskrift{
    padding-top: 10px;
}

.links{
    color: #6B5E55;
    text-decoration: none;
    padding-bottom: 15px;
}

.inspiration-footer{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #6B5E55;
    padding: 10px 0;  
}

.info{
    display: flex;
    flex-direction: column;
    padding: 10px 0; 
}

.icons{
    font-size: 30px;
    color: #6B5E55;
    padding: 10px 0; 
}

.footer-et, .footer-to, .footer-tre{
    margin: 20px;
}








                    /* STYLING AF BEGIVENHEDS-UNDERSIDERNE */ 
/* Overskrift på pynt elementerne */ 
.underside-overskrift{
    height: 35px;
    width: 300px;
    background-color: #EBE5DA;
}

/* hacks/tips til børneinvolvering */ 
.bornehacks{
    background-color: #EBE5DA;
    padding: 50px 0;
    padding-left: 100px; 
    padding-right: 100px;
    font-size: 1.3em;
}


/* videoerne */ 
iframe{
    width: 100%;
    height: 100%;
}

.iframe-container{
    width: 100%;
    /* vi vil fastholde 16:9 formatet. 9 divideret med 16 er 0.5625 */ 
    height: calc(100vw * 0.5625);
}

video{
    width: 100%;
    height: auto;
}

        /* Styling af inspirationsbillederne med lightbox */
.row > .column {
    padding: 8px 5px;
    box-sizing: border-box;
}

.row{
    display: flex;
    justify-content: center;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
.column {
    float: left;
    width: 24%;
}
  
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}
  
/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}
  
/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
  
.mySlides {
    display: none;
}
  
.cursor {
    cursor: pointer;
}
  
/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -25px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
  
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
  
/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
img {
    margin-bottom: -4px;
}
  
.demo {
    opacity: 0.6;
}
  
.active,
.demo:hover {
    opacity: 1;
}
  
img.hover-shadow {
    transition: 0.3s;
}
  
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lukket, .open{
    width: 100%;
}

/* inforgrafik placering */ 
.infografik-placering{
    display: flex;
    justify-content: center;
    align-items: center;
}

.infografik-billede{
    width: 80%;
    height: auto;
}

.infografik{
    margin-top: 100px;
}
  

/* tekst omkring materialevalg, som henviser til forsiden */ 
.materiale-link{
    text-align: center;
    padding-bottom: 50px;
}

/* eksterne links styling */ 
.eksterne-links{
    color: #6B5E55;
}

/* eksternt link til instagram for ekstra inspiration */ 
.inspiration-link{
    text-align: center;
}

/* billederne på undersiderne samt andre steder */ 
.avis, .hjerter, .tegn{
    width: 100%;
    height: auto;
}

.rund{
    width: 10%;
    height: auto;
    border-radius: 50%;
}

.rund img{
    width: 50px;
}




                    /* STYLING AF OM OS SIDEN */ 
.om-os-billede{
    height: auto;
    width: 100%;
    padding-bottom: 50px;
}

.om-os-billede-placering{
    display: flex;
    justify-content: center;
    align-items: center;
}

.om-os-tekst{
    margin-top: 50px;
    margin-bottom: 100px;
}




                    /* STYLING AF KONTAKTSIDEN */ 
/* kontaktformular */ 
.luft{
    margin-top: 50px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #F8F7F1;
    color: #6B5E55;
}

#besked{
    height: 200px;
}
  
input[type=submit] {
    background-color: #F8F7F1;
    color: #6B5E55;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #FFFEFB;
}
  
.kontaktformular {
    border-radius: 5px;
    background-color: #EBE5DA;
    padding: 20px;
}

.kontaktformular-placering{
    display: flex;
    justify-content: center; 
    padding-top: 15px;
}

.kontakt-logo{
    height: 250px;
    margin-bottom: 100px;
}

.kontakt-logo-placering{
    display: flex;
    justify-content: center;
    align-items: center;
}







                    /* MEDIA QUERRY FOR MOBIL VERSIONEN */
@media screen and (max-width: 768px) {
    /* Overskrift på materialeanbefaldningerne */ 
    .overskrift{
        text-align: center;
    }

    .index-overskrift{
        font-size: x-large;
    }

    /* Overskrift på undersiderne pynt elementerne */ 
    .overskrift-forslag{
        display: flex;
        justify-content: center;
    }

    /* Footer */ 
    .footer-brede{
        text-align: center;
        margin-top: 50px;
    }

    /* logo */ 
    .bg-body-tertiary{
        padding-bottom: 130px;
    }

    /* runde materiale billeder på forsiden */ 
    .indpaknings-billede{
        padding-bottom: 25px;
        border-radius: 50%;
        width: 300px;
        height: auto;
    }

    .materiale{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Kontaktformular */ 
    .kontaktformular{
        width: 90%;
    }

    .underside-overskrift{
        text-align: center;
    }

    /* centering af tekst og billeder (tips) på undersider */ 
    .underside-overskrift-centering, .tegn-centering, .avis-centering, .hjerter-centering, .rund-centering{
        display: flex;
        justify-content: center;
    }

    .tegn-centering, .avis-centering, .hjerter-centering, .rund-centering{
        padding: 20px 0;
    }

    /* luft ved inspiration */ 
    .inspiration{
    padding-top: 100px;
    padding-bottom: 150px;
    }

}






                    /* MEDIA QUERRY FOR TABLET VERSIONEN */
@media screen and (min-width: 768px){
    /* Overskrift på materialeanbefaldningerne */ 
    .overskrift{
        padding: 0 20px;
    }

    /* Footer */ 
    .footer-vertikal{
        display: flex;
        flex-direction: row;
        gap: 150px;
    }

    /* ændring af opsætning på materialeanbefaldningerne */ 
    .omvendt{
        display: flex; 
        flex-direction: row-reverse;
    }

    .indpaknings-billede{
        border-radius: 50%;
        height: auto;
        width: 300px;
    }

    /* Kontaktformular */ 
    .kontaktformular{
        width: 70%;
    }

    .rund{
        width: 300px;
        height: auto;
    }

    .pynt-tekst{
        margin-top: 90px;
    }

    /* luft mellem de forskellige container */ 
    .pynt, .inspiration{
    margin-top: 100px;
    margin-bottom: 150px;
    }
}






                    /* MEDIA QUERRY FOR DESKTOP VERSIONEN */ 
@media screen and (min-width: 992px) {
    body{
        background-color: #F8F7F1;
    }

    /* opsætning af en centerelt kasse med diverse indhold */ 
    .indholdskasse{
        width: 70%;
        background-color: #FFFEFB;
    }

    .indhold{
        margin-left: 100px; 
        margin-right: 100px;
        font-size: 1.3em;
    }

    .forside{
        margin-top: 350px;
    }

    .indholdskasse-fader{
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }  

    /* Overskrift på materialeanbefaldningerne */ 
    .overskrift{
        width: 100%;
    }

    /* youtube videoerne */ 
    iframe{
        height: 70%;
        margin-top: 50px;
    }

    /* runder billeder på begivenhedsundersiderne */ 
    .rund{
        width: 300px;
        height: auto;
        margin-left: 25px;
    }

    /* forside video */ 
    .intro-video{
        position: absolute; 
        z-index: -1;
    }

    .infografik{
        margin-top: 10px;
    }
   
    .infografik-billede{
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 1200px) {
    /* runder billeder på begivenhedsundersiderne */ 
    .rund{
        width: 300px;
        height: auto;
        margin-left: 90px;
    }

    /* placering af indhold på forsiden */ 
    .forside{
        margin-top: 450px;
    }
} 